################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AppHomeWeb/FileContentIndex/82e6326d-d97d-4fd9-9b6b-da1a577505ce.vsidx
/.vs
